.header{
    text-align: right;
    color: lightblue;
    font-size: medium;
    height: 100px;
    background-color: black;
    line-height: 100px;
}
.footer{
    text-align: center;
    height: 100px;
    background-color: lightgray;
    color: black;
    position:relative;
   bottom:0px;
   width:100%;
    height: 100px;
    background-color: lightgrey;
    color: black;
}
.common{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
a{text-align: right;
    color: blue;
    font-size: small;
    text-decoration: underline;
}
h1{font-family: 'Times New Roman', Times, serif;
}
p{font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: black;
    height: 35px;
}
.mainbody{
    height: fit-content;
}
